@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);




body{
    margin: 0;
    background: rgb(241,230,255);
    background: linear-gradient(90deg, rgba(241,230,255,1) 0%, rgba(184,140,255,1) 100%, rgba(0,212,255,1) 100%);
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    background: rgb(241,230,255);
    background: linear-gradient(90deg, rgba(241,230,255,1) 0%, rgba(184,140,255,1) 100%, rgba(0,212,255,1) 100%);
    padding-top: 370px;
    padding-bottom: 30px;
}
h1{
    padding: 0;
    margin-left: 50px; 
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    text-transform:uppercase;
    width: 25%;
}
header h2{
    width: 25%;
    padding: 0;
    letter-spacing: 8px;
    margin-left: 50px; 
    margin-bottom: 0px;
    margin-top: 0;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-transform:uppercase;
    font-weight: lighter;
    text-align: inherit;
}
p{
    font-family: montserrat;
}
#navtop{
    background-color: #EBEBEB;
    margin: 0;
}
footer{
    background-color: #6E2594;
    margin: 0;
    padding: 0;
}

#ultop{
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: right;
}
#ulbottom{
    margin: 0 auto;
    list-style: none;
    padding: 10px;
}
.topli{
    margin-top: 0;
    padding: 20px;
    font-family: montserrat;

}
.topli:hover{
    margin-top: 0;
    padding: 20px;
    background-color: #bababa;
}
.bottomli{
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    padding: 5px;
}
.pruebita{
    visibility: hidden;
    font-family: montserrat;
    padding: 10px;
    padding: 10px;
    background-color: #9755ba;
    text-align: right;
    justify-content: right;
    width: fit-content;
    border-radius: 10px;

}
article h2{
    font-family: montserrat;
}
article:hover .pruebita{
    visibility: visible;
    transition: 0.5s;
}

#contenedorForm {
    display: flex;
    justify-content: center;
}
form{
    background-color: #EBEBEB;
    width: fit-content; /* Ancho fijo para los artículos */
    margin: 10px;
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgb(115, 115, 115);
    border-radius: 0px;
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    box-shadow: 13px 10px 10px gray;
}
input, textarea{
    margin-left: 20px;
    border-style: none;
    outline-style: solid;
    outline-color: #bababa;
    border-radius: 5px;
}
input:focus, textarea:focus{
    background-color: #f4e1ff;
    margin-left: 20px;
    border-style: none;
    outline-style: solid;
    outline-color: #bababa;
    outline-width:  3px;
    border-radius: 5px;
}
#envio{
display: flex;
justify-content: center;    
}
input[type="submit"]{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}
#contenedorMsg{
    display: flex;
    justify-content: center;
}
input[id="msg"]{
    margin:0;
    margin-bottom: 40px;
    width: 100%;
    height: 100px;
}
textarea{
    margin-left: 0;
    width: 100%;
}
textarea:focus{
    margin-left: 0;
}
#logo{
transition: 0.15s;
opacity: 100%;
width:100px;
margin: 20px;
margin-top: 20px;
margin-bottom: -40px;
justify-content: left;
position: absolute;
}
@media (max-width: 700px){
    #logo{
        transition: 0.15s;
        opacity: 0%;
    }
}

